<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :caption %>
    <%= form.text_area :caption, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :picture_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div class="field form-group">
    <%= form.text_field :username, id: :picture_username, class:"form-control", value:current_user.username, type: :hidden %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
  <br/>
<% end %>
