<h1><%= current_user.username %>'s Personal Repository</h1>

<table class="table-striped table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Preview</th>
      <th>Title</th>
      <th>Caption</th>
      <th>Uploader</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <% if picture.user == current_user %>
      <tr>
        <td><%= link_to image_tag(picture.image, style:"width:auto;  height:150px", class:"img-thumbnail img-fluid" ), picture %></td>
        <td><%= picture.title %></td>
        <td><%= picture.caption %></td>
        <td><%= picture.username %></td>
        <td><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Picture', new_picture_path, class:"btn btn-secondary" %>
<% else %>
<% end %>