<div class="card" style="width: 45rem;">
  

  <div style="height:auto">
  <%= image_tag(@picture.image, style:'width:100%') %>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <strong>Title:</strong>
      <%= @picture.title %>
    </h5>
    <p class="card-text">
      <strong>Caption:</strong>
      <%= @picture.caption %>
    </p>
    <p class="card-text">
      <strong>Uploader:</strong>
      <%= @picture.username %>
    </p>
  </div>
  

 </div>
<br/>
<% if @picture.user == current_user %>
  <%= link_to 'Edit', edit_picture_path(@picture), class:"btn btn-secondary" %> |
<% end %>
<%= link_to 'Back', pictures_path, class:"btn btn-dark" %>
